/build/
nbprojekt\build-impl.xml
nbprojekt\genfiles.properties
nbprojekt\projekt.properties
nbprojekt\projekt.xml
Test Packages/anyad.txt
nbproject/private/private.xml
nbproject/private/private.properties